<!DOCTYPE html>
<html th:fragment="baseTymelifeLinks" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head_base_data">
    <meta charset="UTF-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
          rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title th:text="#{sentence.adminpage-description-description}"/>

<body>
<div th:include="~{layout/header.html::user-header}"/>

<div class="container">
    <div class="row">

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <p>clients </p>
                    <form action="/adminpage/prevpage" method="post">
                        <button class="btn btn-light" type="submit" name="what" value="clientPage">prev clientPage</button>
                    </form>
                    <form action="/adminpage/nextpage" method="post">ce
                        <button class="btn btn-light" type="submit" name="what" value="clientPage">next clientPage</button>
                    </form>
                    <label class="col-1" th:text="Page: #{clientPage}"/>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <span th:text="#{clients_list}"/>
                        <li class="list-group-item">
                            <p th:text="name: #{username}"></p>
                            <p>balance: {{money}}</p>
                            <form method="post" action="adminpage/ban">
                                <button class="btm btn-danger" type="submit" name="bannedId" value={{id}}>ban</button>
                            </form>
                        </li>
                        {{/clients-list}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <p>drivers</p>
                    <form action="/adminpage/prevpage" method="post">
                        <button class="btn btn-light" type="submit" name="what" value="driverPage">prev driverPage</button>
                    </form>
                    <form action="/adminpage/nextpage" method="post">
                        <button class="btn btn-light" type="submit" name="what" value="driverPage">next driverPage</button>
                    </form>
                    <label class="col-1">Page: {{driverPage}}</label>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {{#drivers-list}}
                        <li class="list-group-item">
                            <p>name: {{username}}</p>
                            <p>balance: {{balance}}</p>
                            <form method="post" action="adminpage/ban">
                                <button class="btm btn-danger" type="submit" name="bannedId" value={{id}}>ban</button>
                            </form>
                        </li>
                        {{/drivers-list}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <p>admins</p>
                    <form action="/adminpage/prevpage" method="post">
                        <button class="btn btn-light" type="submit" name="what" value="adminPage">prev adminPage</button>
                    </form>
                    <form action="/adminpage/nextpage" method="post">
                        <button class="btn btn-light" type="submit" name="what" value="adminPage">next adminPage</button>
                    </form>
                    <label class="col-1">Page: {{adminPage}}</label>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {{#admins-list}}
                        <li class="list-group-item">
                            <p>name: {{username}}</p>
                            <form method="post" action="adminpage/ban">
                                <button class="btm btn-danger" type="submit" name="bannedId" value={{id}}>ban</button>
                            </form>
                        </li>
                        {{/admins-list}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>