<!DOCTYPE html>
<html th:fragment="baseTymelifeLinks" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head_base_data">
    <meta charset="UTF-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
          rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title th:text="#{sentence.clientpage-description}"/>

<body>
    <div th:include="~{layout/header.html::user-header}"/>

    <div class="container">
        <div class="row">
            <div class="card col-4">
                <div class="card-header">
                    <span th:text="#{sentence.your-balance} "></span>
                    <span th:text="${balance}"></span>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <a href="/api/neworder" class="list-group-item list-group-item-action"><div th:text="#{sentence.new-order}"/></a>
                        <a href="/api/orderHistory" class="list-group-item list-group-item-action"><div th:text="#{sentence.order-history}"/></a>
                        <a href="#" class="list-group-item list-group-item-action"><div th:text="#{sentence.promocodes}"/></a>
                        <a href="/api/replenish" class="list-group-item list-group-item-action"><div th:text="#{sentence.replenish-balance}"/></a>
                        <a href="#" class="list-group-item list-group-item-action"><div th:text="#{sentence.delete-account}"/></a>
                    </div>
                </div>
            </div>
            <div class="card col-8">
                <div class="card-header">
                    <h1><span th:text="#{sentence.your-orders}"/></h1>
                    <label>
                        <span th:text="#{word.balance}"/> : <span th:text="${client_balance}"/>
                    </label>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span th:each="order : ${pending_orders}">
                                <div class="card text-white bg-primary">
                                    <div class="card-body">
                                    <div class="row">
                                        <label class="card-text col-3"><span th:text="#{word.from}"/>: <span th:text="${order.departure}"/></label>
                                        <label class="card-text col-3"><span th:text="#{word.to}"/>: <span th:text="${order.destination}"/></label>
                                        <label class="card-text col-3"><span th:text="#{word.class}"/>: <span th:text="${order.cClass}"/></label>
                                        <label class="card-text col-3"><span th:text="#{word.fee}"/>: <span th:text="${order.price}"/></label>
                                    </div>
                                    <div class="row">
                                        <form method="post" action="/clientpage/cancelorder">
                                            <button type="submit" class="btn btn-warning" th:value value={{id}} name="orderId"><div th:text="#{word.cancel}"/></button>
                                        </form>
                                    </div>
                                </div>
                            </span>
                        <li class="list-group-item">
                            <span th:each="order : ${taken_orders}">
                                 <div class="card text-white bg-success">
                                    <div class="card-body">
                                        <div class="row">
                                            <label class="card-text col-3"><span th:text="#{word.from}"/>: <span th:text="${order.departure}"/></label>
                                            <label class="card-text col-3"><span th:text="#{word.to}"/>: <span th:text="${order.destination}"/></label>
                                            <label class="card-text col-3"><span th:text="#{word.class}"/>: <span th:text="${order.cClass}"/></label>
                                            <label class="card-text col-3"><span th:text="#{word.fee}"/>: <span th:text="${order.price}"/></label>
                                        </div>
                                        <div class="row">
                                            <form method="post" action="/clientpage/confirm">
                                                <button type="submit" class="btn btn-warning" value={{id}} name="orderId"><div th:text="#{sentence.sentence-confirm-msg}"/></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </li>
                        <li class="list-group-item align-content-center">
                            <p><span th:text="#{word.page}"/> : <span th:text="${page}"/> / <span th:text="${max_pages}"/></p>
                            <div class="row text-center">
                                <form action="/clientpage/prevpage" method="post">
                                    <button type="submit" class="btn btn-light btn-lg">
                                        &#8592
                                    </button>
                                </form>
                                <form action="/clientpage/nextpage" method="post">
                                    <button type="submit" class="btn btn-light btn-lg">
                                        &#8594
                                    </button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</body>
</html>