<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/public/css/login-page.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>{{sentence.login-page-desc}}</title>
</head>
<body class="container">
    <div class="card col-lg-5 col-8">
        <div class="card-header">
            {{sentence.login-page-desc}}
        </div>
        <div class="card-body">
            <div class="panel panel-default">
                <div class="panel-heading>">
                    <h3>{{sentence.login-appeal}}</h3>
                </div>
                <div class="panel-body">
                    <!-- login form content -->
                    <form method="POST" action="/login">
                        <div class="form-group">
                            <div><label for="exampleInputEmail1"></label></div>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder={{word.login}} name="login">
                            <small id="emailHelp" class="form-text text-muted">{{sentence.confidentiality-promise}}</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"></label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder={{word.password}} name="password">
                        </div>
                        <div>
                            <!-- csrf token  -->
                        </div>

                        <button type="submit" class="btn btn-primary">{{word.submit}}</button>
                        <br>
                    </form>
                    <!--     register button -->
                    <form method="GET" action="/register">
                        <label>{{word.or}}</label>
                        <br>
                        <button type="submit" class="btn btn-primary" href="/register">{{word.register}}</button>
                    </form>
                    <br>
                    {{#register-alert}}
                    <div class="alert alert-danger" role="alert">
                        This is a danger alert—check it out!
                    </div>
                    {{/register-alert}}
                    <br>
                    {{#logout-alert}}
                    <div class="alert alert-warning" role="alert">
                        This is a warning alert
                    </div>
                    {{/logout-alert}}
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>

        </div>
    </div>

</body>
</html>