<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/static/css/login-page.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Taxi company</title>
    </head>
</head>
<body>
<div class="container" id="login-page-container">
    <div class="nav" id="login-page-header">
        <div class="col-2">
            {{#already-logged-in}}
                <label>{{sentence.already-logged}}{{username}} {{user-role}}</label>
            {{/already-logged-in}}
            {{^already-logged-in}}
                <p>not logged</p>
            {{/already-logged-in}}

        </div>
        <div class="col-7"></div>
        <div class="col-2">

        </div>
        <div class="col-1">
            <form method="POST" action="/logout">
                <input type="submit" value="Logout"/>
                <div>
                    <!-- csrf token  -->
                </div>
            </form>
        </div>
    </div>
    {{^already-logged-in}}
        <div class="row" id="login-page-login">
            <div class="col-md-4"></div>
            <div class="col-md-4" id="login-page-login-form">
                <div class="panel panel-default">
                    <div class="panel-heading>">
                        <h3>{{sentence.login-appeal}}</h3>
                    </div>
                    <div class="panel-body">
                        <!-- login form content -->
                        <form method="POST" action="/login">
                            <div class="form-group">
                                <div><label for="exampleInputEmail1"></label></div>
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder={{word.login}} name="login">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1"></label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder={{word.password}} name="password">
                            </div>
                            <div>
                                <!-- csrf token  -->
                            </div>

                            <button type="submit" class="btn btn-primary">{{word.submit}}</button>
                            <br>
                        </form>
                        <!--     register button -->
                        <form method="GET" action="/register">
                            <label>{{word.or}}</label>
                            <br>
                            <button type="submit" class="btn btn-primary" href="/register">{{word.register}}</button>
                        </form>
                        <br>
                        {{#register-alert}}
                            <div class="alert alert-danger" role="alert">
                                This is a danger alert—check it out!
                            </div>
                        {{/register-alert}}
                        <br>
                        {{#logout-alert}}
                            <div class="alert alert-warning" role="alert">
                                This is a warning alert
                            </div>
                        {{/logout-alert}}
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    {{/already-logged-in}}


</div>
</body>
</html>